body {
    background-color: whitesmoke;
}

#canvas {
    width: 960px;
    height: 500px;
    position: relative;
    background-color: teal;
    border: 1px solid black;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    */
}

#container {
    position: justify;
    display: flex;
    align-items: center;
    justify-content: center; 
}