body {
   background-image: url("https://c4.wallpaperflare.com/wallpaper/605/490/357/simple-gradient-minimalism-wallpaper-preview.jpg"); 
    background-color:  whitesmoke;
    background-size:cover;
    background-position: cover fixed;
    background-repeat: no-repeat;

    
}

#canvas {
    width: 700px; /* if any issues chnage back to 960 px*/
    height: 500px;
    position: relative;
    background-color: teal;
    
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/029/514/221/large/santiago-banol-yandros-image.jpg?1597790275"); 
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    
    top: -35px;
    border: 1px solid black;
    box-shadow: 0 0 20px 0 rgb(0, 0, 5);
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    */
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stars-counter {
    color: whitesmoke;
    /*font-family: ; */
    text-align: right;
    right: 3px;
    top: 488px;
    position: relative;
    z-index: 1;
}

h1 {
    /*font-size: 80px;*/
    /* font-family: "press start 2p"; */
    top: 89%;
    position: absolute; 
    /*left: 5%; */
    left: 35%;
    z-index: 1;
    
}