body {
    background-color: whitesmoke;
}

#canvas {
    width: 700px; /* if any issues chnage back to 960 px*/
    height: 500px;
    position: relative;
    background-color: teal;
    /*
    background-image: url("https://pbs.twimg.com/tweet_video_thumb/E42KIKcVkAA8oqJ.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    
    border: 1px solid black;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    */
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stars-counter {
    text-align: right;
    right: 5px;
    top: 520px;
    position: relative;
    z-index: 1;
}

h1 {
    position: absolute; 
    left: 35%; 
    z-index: 1;
}